@charset "utf-8";
/**/
body {
    color: Black;
    background: White;
    margin-right: 10%;
    margin-left: 10%;
    font-family: "Times New Roman", serif;
    text-align: justify
    }
p {
    text-indent: 4%
    }
p.noindent {
    text-indent: 0%
    }
p.poem {
    text-indent: 0%;
    margin-left: 10%
    }
p.finis {
    font-size: larger;
    text-align: center;
    text-indent: 0%;
    margin-left: 0%;
    margin-right: 0%
    }
/**/