body{
	//background-color: #252f33;
}
.topPage{
	width: 100%; 
	height: 40%;
	float: left;
	background-color: #252f33;
	margin-bottom: 2%;
}
.leftPage{
	font-family: sans-serif;
	font-size:10pt;
	background-color:#93c2cc;
	color: #2c4969;
	float: left;
	width: 20%;
	height: 474px;
	padding-bottom: 0em;
	overflow: auto;
}
.rightPage{
	font-family: sans-serif;
	font-size:10pt;
	background-color: #b8dbe1;
	float: left;
	width: 80%;
	height: 474px;
	padding-bottom: 0em;
	overflow: hidden;
}

.controlls{
	font-family: sans-serif;
	font-size:10pt;
	background-color: #b8dbe1;
	float: left;
	width: 80%;
	padding-bottom: 0em;
	overflow: auto;
}


.bottomPage{
	font-family: ,sans-serif;
	font-size: 10pt;
	background-color:#2c4969;
	width: 99%;
	position: absolute;
	margin-top: 590px;
}
.topPageStyle{
	margin: 60px;
}
.leftPageStyle{
	margin: 20px;
	margin-top: 50px;
	width: 200px;
	height: 100%;
	
}
.rightPageStyle{
	margin: 20px;
}
.footerTable{
	width: 80%;
	margin-left: 10%;
}

.books{
	width: 250px;
	height: 300px;
}
.bookTitle{
	text-align: center;
}

#homeButton{
	width: 35px;
	height: 30px;
}
#small{
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
#medium{
	width: 25px;
	height: 25px;
	margin-right: 10px;
}
#large{
	width: 30px;
	height: 30px;
}
#bg{
	width: 30px;
	height: 30px;
}
#lines{
	color: #2c4969;
}
table{
	border: 0;
}
a:hover{
	color: red;
}
a:active{
	color: green;
}
a:visited{
	color: purple;
}

