@charset "utf-8";
/**/
body {
    margin-left: 10%;
    margin-right: 10%
    }
h1, h2, h3, h4, h5, h6 {
    text-align: center;
    /* all headings centered */
    clear: both
    }
p {
    margin-top: 0.75em;
    text-align: justify;
    margin-bottom: 0.75em
    }
p.citation {
    text-align: right
    }
hr {
    width: 33%;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    clear: both
    }
table {
    margin-left: auto;
    margin-right: auto
    }
.pagenum {
    /* uncomment the next line for invisible page numbers */
    /*  visibility: hidden;  */
    font-size: smaller;
    text-align: right
    }
/* page numbers */
.center {
    text-align: center
    }
.smcap {
    font-variant: small-caps
    }
/* Images */
.figcenter {
    margin: auto;
    text-align: center
    }
.figleft {
    clear: left;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 0.3em;
    padding: 0;
    text-align: center
    }
/* Transcriber's Note and Corrections */
.tnote {
    padding: 1em;
    margin-top: 3em;
    margin-right: 0%;
    margin-bottom: 3em;
    margin-left: 0%;
    page-break-after: always
    }
.tnote p {
    text-indent: 0;
    margin-left: 2em;
    margin-top: 0.5em;
    font-size: 90%
    }
.tnote h3 {
    text-indent: 0;
    margin-left: 0;
    text-align: left;
    font-size: 100%;
    font-style: normal;
    font-weight: bold
    }
hr.full {
    width: 100%;
    margin-top: 3em;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-width: 4px 0 0 0;
    /* remove all borders except the top one */
    border-style: solid;
    border-color: #000;
    clear: both
    }
pre {
    font-size: 85%
    }
/**/