@charset "utf-8";
/**/
p.c25 {
    margin-left: 40%
    }
p.c17 {
    margin-left: 35%
    }
p.c15 {
    margin-left: 5%
    }
hr.c13 {
    width: 10%
    }
p.c11 {
    font-style: italic;
    margin-left: 5%
    }
span.c10 {
    margin-left: 3em
    }
hr.c9 {
    width: 65%
    }
p.c8 {
    font-style: italic
    }
span.c7 {
    font-style: italic;
    margin-left: 2.5em
    }
span.c6 {
    margin-left: 2.5em
    }
/**/