@charset "utf-8";
/**/
/* 
  The Gnutenberg Press - default CSS2 stylesheet

  Any generated element will have a class "tei" and a class "tei-elem"
  where elem is the element name in TEI. 
  The order of statements is important !!! 
  */
.tei {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
    font-style: normal
    }
.block {
    display: block
    }
.inline {
    display: inline
    }
.floatleft {
    margin: 1em 2em 1em 0
    }
.floatright {
    margin: 1em 0 1em 2em
    }
.shaded {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    background-color: #eee
    }
.boxed {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid black
    }
body.tei {
    margin: 4ex 10%;
    text-align: justify
    }
div.tei {
    margin: 2em 0
    }
p.tei {
    margin: 0 0 1em 0;
    text-indent: 0
    }
blockquote.tei {
    margin: 2em 4em
    }
div.tei-lg {
    margin: 1em 0
    }
div.tei-l {
    margin: 0;
    text-align: left
    }
div.tei-tb {
    text-align: center
    }
div.tei-epigraph {
    margin: 0 0 1em 10em
    }
div.tei-dateline {
    margin: 1ex 0;
    text-align: right
    }
div.tei-salute {
    margin: 1ex 0
    }
div.tei-signed {
    margin: 1ex 0;
    text-align: right
    }
div.tei-byline {
    margin: 1ex 0
    }
/* calculate from size of body = 80% */
div.tei-marginnote {
    margin: 0 0 0 -12%
    }
div.tei-sp {
    margin: 1em 0 1em 2em
    }
div.tei-speaker {
    margin: 0 0 1em -2em;
    font-weight: bold;
    text-indent: 0
    }
div.tei-stage {
    margin: 1em 0;
    font-weight: normal;
    font-style: italic
    }
span.tei-stage {
    font-weight: normal;
    font-style: italic
    }
div.tei-eg {
    padding: 1em;
    color: black;
    background-color: #eee
    }
hr.doublepage {
    margin: 4em 0
    }
hr.page {
    margin: 4em 0
    }
ul.tei-index {
    list-style-type: none
    }
dl.tei {
    margin: 1em 0
    }
dt.tei-notelabel {
    font-weight: normal;
    text-align: right
    }
dd.tei-notetext {
    margin: 0 0 1ex 4em
    }
span.tei-pb {
    width: 8%;
    font-style: normal
    }
span.code {
    font-family: monospace;
    font-size: 110%
    }
ul.tei-castlist {
    margin: 0;
    list-style-type: none
    }
li.tei-castitem {
    margin: 0
    }
table.tei-castgroup {
    margin: 0
    }
ul.tei-castgroup {
    margin: 0;
    list-style-type: none;
    padding-right: 2em
    }
caption.tei-castgroup-head {
    caption-side: right;
    width: 50%;
    text-align: left;
    vertical-align: middle;
    padding-left: 2em
    }
*.tei-roledesc {
    font-style: italic
    }
*.tei-set {
    font-style: italic
    }
table.rules {
    border-collapse: collapse
    }
table.rules caption, table.rules th, table.rules td {
    border: 1px solid black
    }
table.tei {
    border-collapse: collapse
    }
table.tei-list {
    width: 100%
    }
th.tei-head-table {
    padding: 0.5ex 1em
    }
th.tei-cell {
    padding: 0 1em
    }
td.tei-cell {
    padding: 0 1em
    }
td.tei-item {
    padding: 0;
    font-weight: normal;
    vertical-align: top;
    text-align: left
    }
th.tei-label, td.tei-label {
    width: 3em;
    padding: 0;
    font-weight: normal;
    vertical-align: top;
    text-align: right
    }
th.tei-label-gloss, td.tei-label-gloss {
    text-align: left
    }
td.tei-item-gloss, th.tei-headItem-gloss {
    padding-left: 4em
    }
img.tei-formula {
    vertical-align: middle
    }
/**/