@charset "utf-8";
/**/
div.c37 {
    margin-bottom: 2em;
    margin-top: 6em
    }
h4.c36 {
    text-align: left;
    margin-bottom: 2em;
    margin-top: 2em
    }
div.c35 {
    margin-bottom: 2em;
    margin-top: 2em
    }
h3.c34 {
    text-align: left;
    margin-bottom: 2.4em;
    margin-top: 2.4em
    }
h2.c33 {
    text-align: center;
    margin-bottom: 2.4em;
    margin-top: 2.4em
    }
span.c32 {
    font-size: 120%
    }
h2.c31 {
    text-align: left;
    margin-bottom: 2.88em;
    margin-top: 2.88em
    }
a.c30 {
    margin-bottom: 1.8em;
    margin-left: 3.6em;
    margin-top: 1.8em;
    margin-right: 3.6em
    }
table.c29 {
    margin-bottom: 1em;
    margin-top: 1em
    }
div.c28 {
    text-align: left;
    margin-left: 4em
    }
div.c27 {
    margin-bottom: 6em;
    margin-top: 6em
    }
span.c26 {
    text-align: right
    }
p.c25 {
    text-align: center;
    margin-bottom: 1em
    }
span.c24 {
    text-align: center
    }
div.c23 {
    text-align: center
    }
div.c22 {
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em
    }
div.c21 {
    margin-bottom: 6em;
    margin-top: 2em
    }
p.c20 {
    text-align: right;
    margin-bottom: 1em
    }
div.c19 {
    margin-bottom: 1.8em;
    margin-left: 3.6em;
    margin-top: 1.8em;
    margin-right: 3.6em
    }
span.c18 {
    font-size: 90%;
    font-style: italic
    }
p.c17 {
    margin-bottom: 0.9em
    }
span.c16 {
    font-size: 90%
    }
div.c15 {
    margin-bottom: 1em;
    margin-top: 1em
    }
span.c14 {
    text-align: left
    }
div.c13 {
    text-align: left;
    margin-left: 2em
    }
span.c12 {
    font-style: italic
    }
span.c11 {
    font-size: 60%;
    vertical-align: super
    }
h1.c10 {
    text-align: left;
    margin-bottom: 3.46em;
    margin-top: 3.46em
    }
span.c9 {
    font-size: 173%
    }
p.c8 {
    margin-bottom: 1.44em
    }
span.c7 {
    font-size: 144%
    }
div.c6 {
    margin-bottom: 5em;
    margin-top: 5em
    }
div.c5 {
    margin-bottom: 4em;
    margin-top: 4em
    }
pre.c4 {
    margin-bottom: 3em;
    margin-top: 3em
    }
p.c3 {
    margin-bottom: 1em
    }
div.c2 {
    margin-bottom: 3em;
    margin-top: 3em
    }
p.c1 {
    margin-bottom: 2em
    }
/**/